TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NETWORKS=robinhood,solana,bsc
SCAN_INTERVAL_SECONDS=20
MIN_MC=100000
MAX_MC=1200000
MIN_LIQ=25000
MIN_TRACK_SCORE=65
MIN_ALERT_SCORE=78
ENTER_SCORE=88
WALLET_USD=400
MAX_POSITION_USD=100
