TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
RH_RPC_HTTP=https://rpc.mainnet.chain.robinhood.com
RH_RPC_WS=
SCAN_INTERVAL_SECONDS=15
MIN_MC=150000
MAX_MC=1200000
MIN_LIQ=30000
MIN_ALERT_SCORE=92
MIN_TRACK_SCORE=82
WALLET_USD=400
MAX_POSITION_USD=100
NETWORK_ID=robinhood
